<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
    <param name="lm" value="$(find pocketsphinx)/demo/dialogue.lm"/>
    <param name="dict" value="$(find pocketsphinx)/demo/dialogue.dic"/>
  </node>

 <node name="text_to_ans" pkg="pocketsphinx" type="text_to_ans.py" output="screen"/>

</launch>
